<% include layout_top %>
<h1>忘记密码</h1>
<div class="container">
    <form id="form_forgot_password" action="forgot_password" method="post">
        <fieldset>
            <p>
            <label>输入您注册的邮箱</label>
            <input id="email" type="text" name="email">
            </p>
            <p>
            <p>
            <input id="btn_submit" type="submit" value="提交" class="btn">
            </p>
        </fieldset>
    </form>
</div>
<script type="text/javascript" src='/javascripts/jquery.validate.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
$('#form_forgot_password').validate({
        rules : {
            email: {
                required: true,
                email: true
            }
        },
        messages : {
            email: {
                required : '邮箱不能为空',
                email: '请填写正确的邮箱地址'
            }
        }
    });
});
</script>
<% include layout_bottom %>
