</div>
<div class="container">
<div class="footer">
        <div class="links">
          <a href="/about" class="dark"><strong>关于</strong></a>
        </div>
        <div class="col_fade">
          &copy; 2013 dqw
        </div>
      </div>
    </div>
</body>
</html>
