<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src='/javascripts/jquery-1.8.3.js'></script>
<script type="text/javascript" src='/javascripts/bootstrap.js'></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a style="padding-top: 6px; padding-bottom: 0px;" href="/" class="brand">
                <%= title %>
            </a>
            <ul class="nav pull-right">
                <li><a href="/">首页</a></li>
                <% if(!user) { %>
                <li><a href="/signup">注册</a></li>
                <li><a href="/login">登陆</a></li>
                <% } else { %>
                <li><a href="/account">账号</a></li>
                <li><a href="/logout">注销[<%= user %>]</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="main">
        <% if(message) { %>
        <div class="message"><%= message %></div>
        <% } %>



