<% include layout_top %>
<h1><%= title %></h1>
<div class="container">
    <form id="form_signup" action="signup" method="post">
        <fieldset>
            <p>
            <label>邮箱</label>
            <input id="email" type="text" name="email">
            </p>
            <p>
            <label>密码</label>
            <input id="password" type="password" name="password">
            </p>
            <p>
            <label>确认密码</label>
            <input id="password2" type="password" name="password2">
            </p>
            <p>
            <input id="btn_signup" type="submit" value="注册" class="btn">
            </p>
        </fieldset>
    </form>
</div>
<script type="text/javascript" src='/javascripts/jquery.validate.min.js'></script>
<script type="text/javascript">
$(document).ready(function() {
$('#form_signup').validate({
        rules : {
            email: {
                required: true,
                email: true,
                remote: {
                    url: 'check_email',
                    type: 'get',
                    data: {
                        email: function(){
                            return $('#email').val();
                        }
                    }
                }
            },
            password: {
                required: true,
                minlength: 6
            },
            password2: {
                required: true,
                equalTo: "#password"
            }
        },
        messages : {
            email: {
                required : '邮箱不能为空',
                email: '请填写正确的邮箱地址',
                remote: '该邮箱已存在'
            },
            password: {
                required: '密码不能为空',
                minlength: '密码最少为6位'
            },
            password2: {
                required: '确认密码不能为空',
                equalTo: '密码不一致'
            }
        }
    });
});
</script>
<% include layout_bottom %>
