<% include layout_top %>
<h1><%= title %></h1>
<div class="container">
    <form id="form_sign_up" action="signup" method="post">
        <fieldset>
            <p>
            <label>邮箱</label>
            <input id="email" type="text" name="email">
            </p>
            <p>
            <label>密码</label>
            <input id="password" type="password" name="password">
            </p>
            <p>
            <label>确认密码</label>
            <input id="password2" type="password" name="password2">
            </p>
            <p>
            <input id="btn_signup" type="button" value="注册" class="btn">
            </p>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#btn_signup").click(function() {
        var email = $("#email").val();
        var password = $("#password").val();
        if(email == "") {
            alert("密码不能为空");
            return false;
        }
        if(password == "") {
            alert("密码不能为空");
            return false;
        }
        if($("#password2").val() !== password) {
            alert("密码不一致");
            return false;
        }
        $("#form_sign_up").submit();
    });
});
</script>
<% include layout_top %>
