body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label.error {
  color: red;
}

.content { float: left; width:670px; min-height: 500px; border: 1px solid #CCC; }
.sidebar { float: right; width:260px; min-height: 500px; border: 1px solid #CCC; }
.footer { margin-top: 10px; border-top: 1px solid #CCC; }

.topic-header { background-color: #CCC; padding: 8px; }

.topic-list .cell { border-bottom: 1px solid #CCC; padding: 3px; }
.topic-list .cell span { display: inline-block; overflow: hidden; }
.topic-list .cell .topic-title { width: 55%; }
.topic-list .cell .topic-count { width: 12%; }
.topic-list .cell .topic-nickname { width: 12%; }
.topic-list .cell .topic-time { width: 18%; }

